.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: blueviolet;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 40px;
  background-color: #f5f7fa;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.label {
  font-size: 24px;
  font-style: italic;
  color: #136666;
}

button:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}